/target
**/target
.idea
.vscode
.DS_Store
backups
.vite
docker
cacheDuckData
history.db
history.db.wal
config.toml
test_deploy

cli-ui/src-tauri/binaries
data/duck_client.db
data/duck_client.db.wal
duck-cli/data/duck_client.db
