/target
**/target
.idea
.vscode
.DS_Store
backups
.vite
/docker/*
!/docker/mysql-integration/
!/docker/mysql-integration/**
cacheDuckData
history.db
history.db.wal
config.toml
test_deploy
tmp/
logs/
dist/

cli-ui/src-tauri/binaries
data/duck_client.db
data/duck_client.db.wal
duck-cli/data/duck_client.db
